@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@layer base {
        :root {
            --font-global: "Manrope", sans-serif;
            --background-global: #101066;
            --color-text:#ff5a3d;
            --color-button: #ff5a3d;
            --color-button-text: #101066;

            --circle-level-1: #ff5a3d;
            --circle-level-2: #ff5a3d;
            --circle-level-3: #ff5a3d;
            --circle-custom: #ff5a3d;
            
            
            --circle-top: rgba(74, 117, 67, 0.5);
            --circle-mid-top: rgba(74, 117, 67, 0.4);
            --circle-mid-bottom: rgba(74, 117, 67, 0.3);
            --circle-bottom: rgba(74, 117, 67, 0.2);
        }
}
